.container {
  min-width: 550px;
  min-height: 450px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
  height: fit-content;
  margin: 0 auto;
}
.search {
  color: blueviolet;
}
.text {
  display: flex;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form {
  display: flex;
  justify-content: center;
  background: #fff;
}

.body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 0;
}

.detail {
  display: flex;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  flex-direction: column;
  gap: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
.right {
  display: flex;
  justify-content: right;
  .jobBtn {
    padding: 0.5rem;
    width: 100%;
    svg {
      margin-right: 0.5rem;
    }
  }
}
.form {
  display: flex;
  justify-content: center;
}

.detail .row {
  display: flex;
  gap: 20px;
  input[type="checkbox"] {
    margin-right: 1rem;
  }
  input[type="checkbox"] {
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
}
.rowWithLabel {
  input[type="checkbox"] {
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
  .mlChkWid {
    margin-left: 2.3rem;
  }
}
.rowwithLabelStyle{
  height: 2rem;
  width: 17rem;
  
}
.StyleBox{
  height: 3rem;
  width: 17rem;
  
}
.rowStyleBox{
  
  width: 17rem;
  
}
.InputBox{
  width: 17rem;
}
.messageBox{
  height: 5rem;
  width: 17rem;
}
.rowWithLabelExp{
  display: flex;
  input[type="checkbox"] {
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
  .mlChkWid {
    margin-left: 2.3rem;
  }
}
.minInput{
  margin-right: 0.5rem;
}
.maxInput{
  margin-left: 0.5rem;
}
.detail .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail .row > div {
  flex: 1;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

input {
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 5px;
}

input:hover {
  border: 1px solid #adadad;
}

input:focus {
  border: 1px solid #239ce2;
}
.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 0;
}

.heading {
  font-weight: 500;
  font-size: 2.1rem;
}
.heading .jobBtn,
.Grid .jobBtn {
  padding: 0.5rem;
  width: 100%;
  svg {
    margin-inline: 0.5rem;
  }
  
}
.TrashBtn{
  color: red;
}
.CopyBtn{
  color: #239ce2;
}

.Grid .activeJob {
  background-color: #fff;
  border-right: 0;
  color: green;
}

.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.tab {
  cursor: pointer;
}

.rounded {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
}
.headerTite {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  gap: 30px;
}

.container {
  padding: 50px 30px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-color: rgb(238, 252, 255);
  min-height: 85vh;
}

.heading {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #239ce2, #1369b9);
  color: transparent;
}

.right img {
  width: 400px;
}
